body
{
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: cornsilk;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(86, 87, 36, 0.767);
}
.container .left_side
{
    position: relative;
    background: darkgoldenrod;
    padding: 40px;
}
.ProfileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ProfileText .imgBX
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.ProfileText .imgBX img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ProfileText h1
{
    color: saddlebrown;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.ProfileText h1 span
{
  font-size: 0.8em;
  font-weight: 300;
}
.contact
{
    padding-top: 40px;
}
.title
{
    color: saddlebrown;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contact ul
{
  position: relative;
}
.contact ul li
{
  position: relative;  
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contact ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: salmon;
}
.contact ul li span
{
    color: rgb(112, 39, 5);
    font-weight: 300;
}
.contactinfo.language .percent
{
 position: relative;
 width: 100%;
 height: 6px;
 background: brown;
 display: block;
 margin-top: 5px;
}
.contactinfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: coral;
}
.contactinfo.language .text
{
    color: brown;
}
.contactinfo.education li
{
 margin-bottom: 15px;
}
.contactinfo.education h5
{
    color: brown;
    font-weight: 500;
}
.contactinfo.education h4
{
    color: brown;
    font-weight: 500;
}
.contactinfo.education h4:nth-child(2)

.container .right_side
{
    position: relative;
    background: rgb(240, 233, 215);
    padding: 40px;
}
.about
{
    margin-bottom: 70px;
}
.about :last-child
{
    margin-bottom: 0;
}

.title2
{
    color: rgb(112, 39, 5);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 6px;
}
p
{
    color: rgba(61, 41, 4, 0.795);
    margin-left: 25px;
}
li
{
    color: rgba(61, 41, 4, 0.795);
}
.about .box
{
    display: flex;
    flex-direction: row;
    color: rgba(61, 41, 4, 0.795);
    margin-left: 25px;
    margin: 10px;
}
.about .box .year_Specialization
{
    min-width: 150px;
}
.about .box .year_Specialization h5
{
    text-transform: uppercase;
    font-weight: 600;
}
.about .code
{
    display: flex;
    flex-direction: row;
    color: rgba(61, 41, 4, 0.795);
    margin-left: 25px;
    margin: 10px;
} 

.footer
{
    display: flex;
    margin-top: 300px;
  
  flex: 1 0 auto;

  color: rgb(107, 56, 7);
}

.footer.logo
{
    justify-content: right;
}